{% extends	"base.html" %}
{% block content %}
<div class='am-panel am-panel-primary'>
	<div class='am-panel-hd'>
		<h3 class='am-panel-title'>New Blogs</h3>
	</div>
	<div >
		<table class='am-table am-table-striped am-table-hover am-g'>
			<thead>
				<tr>
					<th class='am-u-sm-2'>Author</th>
					<th class='am-u-sm-7'>Subject</th>
					<th class='am-u-sm-3'>Date</th>
				</tr>
			</thead>
			<tbody>
			{% for blog in message %}
				<tr>
					<td class='am-u-sm-2'><a href='/user/{{blog['author']}}'>{{blog['author']}}</a></td>
					<td class='am-u-sm-7'><a href='/blog/{{blog['_id']}}'>{{blog['subject']}}</a></td>
					<td class='am-u-sm-3'>{{blog['ctime']}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
