{% extends "base.html" %}
{% block content %}
<form atction='/post' method='post' class='am-form' id='post-form'>
	<fieldset>
		<legend>Compose Blog</legend>
		<div class='am-form-group'>
			<label for='doc-ta-1'>subject</label>
			<input type='text' name='subject' id='subject' class='am-form-field am-radius'></input>
		</div>
		<div class='am-form-group' id='epiceditor'>
			<label for='doc-ta-1'>blog paragraph</label>
			<textarea class='am-form-field am-radius' id='my-edit-area' name='my-edit-area' style="display:none"></textarea>
		</div>
		<button type="submit" class="am-btn am-btn-default" id='compose-blog'>Submit</button>
	</fieldset>
	{% module xsrf_form_html() %}
</form>
<script src="{{static_url("js/epiceditor.min.js") }}"></script>
<script type="text/javascript">
$(function() {
		var opts = {
			container: 'epiceditor',
			textarea: 'my-edit-area',
			basePath: 'static',
			clientSideStorage: true,
			localStorageName: 'epiceditor',
			useNativeFullscreen: true,
			parser: marked,
			file: {
				name: 'epiceditor',
				defaultContent: '',
				autoSave: 100
			},
			theme: {
				base: '/themes/base/epiceditor.css',
				preview: '/themes/preview/github.css',
				editor: '/themes/editor/epic-light.css'
			},
			button: {
				preview: true,
				fullscreen: true,
				bar: "auto"
				},
			focusOnLoad: false,
				shortcut: {
					  modifier: 18,
					  fullscreen: 70,
					  preview: 80
				},
			string: {
						   togglePreview: 'Toggle Preview Mode',
						   toggleEdit: 'Toggle Edit Mode',
						   toggleFullscreen: 'Enter Fullscreen'
					},
			autogrow: true
		}
		var editor = new EpicEditor(opts).load();
});
</script>
{% end %}
